<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="connString" value="Data Source=tapas-pc;Initial Catalog=VPR;Integrated Security=SSPI;" />
        <add key="reportGeneratorLink" value="http://localhost/ReportGenerator51314.aspx"/>
        <add key="reportLink" value=""/>
    </appSettings>
</configuration>