<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
		<add key="PageSize" value="10"/>
		<add key="PageButtonCount" value="10"/>
		<add key="DateFormat" value="dd/MM/yyyy"/>
		<add key="Culture" value="en-GB"/>
		<add key="ReportPath" value="RDLC"/>
		<add key="ReportNamespace" value="DSR.RDLC"/>
		<add key="CompanyName" value="BEN LINE AGENCIES"/>
		<add key="Sender" value="maa.system@benlineagencies.com"/>
		<add key="DisplayName" value="BEN LINE AGENCIES Help Desk"/>
		<add key="MailUserAccount" value="maa.general@benlineagencies.com"/>
    <!--Start SSRS Related Setting-->
    <add key="UserName" value="administrator"></add>
    <add key="Password" value="HPdvd1260"/>
    <add key="ReportURL" value="http://web-server/ReportServer"/>
    <!--<add key="ReportFileDownloadURL" value="http://web-server/XXX/Reports/ViewDownloadReportFiles.aspx?reportName="/>-->
    <add key="IIFFileDownloadURL" value="http://web-server/"/>
    
		<add key="MailUserPwd" value="surat%28"/>
		<add key="MailServerIP" value="mail.benlineagencies.com"/>
		<add key="ApplicationUrl" value="http://182.71.224.19:8081/DSR"/>
	</appSettings>
	<connectionStrings>
    <add name="DbConnectionString" connectionString="Data Source=SOUVIK-PC\SQLEXPRESS;Initial Catalog=VPR;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<sessionState mode="InProc" timeout="540"/>
		<globalization culture="en-GB" uiCulture="en-GB"/>
		<httpHandlers>
			<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
		</httpHandlers>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
			</assemblies>
			<buildProviders>
				<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			</buildProviders>
		</compilation>
		<authentication mode="Windows"/>
    <identity impersonate="true"/>
		<customErrors mode="Off" defaultRedirect="Error.aspx">
			<error statusCode="403" redirect="Unauthorized.aspx"/>
			<error statusCode="404" redirect="FileNotFound.aspx"/>
		</customErrors>
		<pages validateRequest="true" enableEventValidation="true"/>
		<membership>
			<providers>
				<clear/>
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
			</providers>
		</membership>
		<profile>
			<providers>
				<clear/>
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
			</providers>
		</profile>
		<roleManager enabled="false">
			<providers>
				<clear/>
				<add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
				<add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
			</providers>
		</roleManager>
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<validation validateIntegratedModeConfiguration="false"/>
		<handlers>
			<add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
		</handlers>
	</system.webServer>
</configuration>
